body {background-color:black;}
#menu {color:white;
	margin:auto;
	width:630px;
	padding:5%;
}
#main{
	border:2px solid white;
	border-radius: 5px;
	background-color:blue;
	height:120px;
	width:120px;
	float:left;
}
li {
	list-style-type:none;
	position:relative;
	left:-10px;
}
li:hover {
	color:gray;
	list-style-type:disc;
	position:static;
}
#sub{
	border:2px solid white;
	border-radius: 5px;
	background-color:blue;
	height:120px;
	width: 480px;
	float:right;
}
table {
	padding:10px;
}
#goodbye {
	padding:10px;
	display:none;
}